.inputBox{
  height: 10vh;
  border : solid black 3px;
  border-radius: 2vh;
  font-size: 5vh;
  padding : 2vh;
}

.wordArea{
  width : 100%;
}

.annim{
  position: relative;
  animation: le 60ms 10 alternate;
}
@keyframes le {
  0%{top:0px}
  50%{transform: rotate(1deg);}
  80%{transform: rotate(-1deg);}
  100%{top:10px}

}

.dispWord{
  font-size : 8vh;
}

.score{
  font-size: 3vh;
  font-weight: 300;
}

.timer{
  font-size: 4vh;
  text-align: center;
}

.dispScore{
  font-size: 4vh;
}

td{
  min-width: 6vh;
}

.scoreboard{
  font-size: 3vh;
}

.showScore{
  position: absolute;
  font-size: 3vh;
  font-weight: 300;
  cursor: pointer;
  right : 2%;
  top : 3%
}